
  <mat-toolbar>
    <span>{{"Edit Password" | translate}}</span>
  </mat-toolbar>
  <mat-card style="margin-top: 10px;">
    <form [formGroup]="form" (ngSubmit)="savePassword()">
      <mat-grid-list cols="5" rowHeight="70px">
       
        <mat-grid-tile [colspan]="3" [rowspan]="1">
          <mat-form-field class="ancho">
            <mat-label>{{"Current Password" | translate}}</mat-label>
            <input type="password" matInput autocomplete="off" formControlName="passwordCurrent">
             <mat-error *ngIf="form.get('passwordCurrent').hasError('required')">
               {{"Current Password Required" | translate}}
             </mat-error>
              <mat-error *ngIf="form.get('passwordCurrent').hasError('unique')">
                {{"Current password not macth!" | translate }}
              </mat-error>
          </mat-form-field>
        </mat-grid-tile>
         <mat-grid-tile [colspan]="2" [rowspan]="3">
           <img src="./assets/img/219983.png" width="200" height="200">
         </mat-grid-tile>
         <mat-grid-tile [colspan]="3" [rowspan]="1">
           <mat-form-field class="ancho">
             <mat-label>{{"New Password" | translate}}</mat-label>
             <input type="password" matInput autocomplete="off" formControlName="passwordNew">
              <mat-error *ngIf="form.get('passwordNew').hasError('required')">
                {{"New Password Required" | translate}}
              </mat-error>
              <mat-error *ngIf="form.get('passwordNew').hasError('unique')">
                {{"Password new exist" | translate }}
              </mat-error>
           </mat-form-field>
         </mat-grid-tile>
       
       
       <mat-grid-tile [colspan]="3" [rowspan]="1">
         <mat-form-field class="ancho">
           <mat-label>{{"Repeat Password" | translate}}</mat-label>
           <input type="password" matInput autocomplete="off" formControlName="password">
            <mat-error *ngIf="form.get('password').hasError('required')">
              {{"Repeat Password Required" | translate}}
            </mat-error>
           
         </mat-form-field>
       </mat-grid-tile>

        <mat-grid-tile [colspan]="3" [rowspan]="1">
          <button mat-raised-button style="margin-right: 20px;"
            (click)="cerrarDialogo()">{{"Cancel" | translate}}</button>
          <button type="submit" mat-raised-button color="primary"
            [disabled]="form.invalid">{{"Confirm" | translate}}</button>

        </mat-grid-tile>
      </mat-grid-list>

      <br>

    </form>
  </mat-card>
