<div class="body">
    <div class="login">
    <mat-spinner *ngIf="loading" diameter="50" class="spinner"></mat-spinner>
    
    <form *ngIf="!loading" [formGroup]="form" (ngSubmit)="recuperar()">
     <mat-card style="margin-top: 10px;">
        <img src="./assets/img/219983.png" alt="" width="50%" height="80%">
        <h1 class="h3 mb-3 fw-normal">Recuperar contraseña</h1>
       <mat-form-field class="ancho" appearance="fill">
            <mat-label>Correo</mat-label>
            <input matInput type="text" autocomplete="off" formControlName="email">
          </mat-form-field>
       
          <br>
          <button type="submit" class="ancho button" mat-raised-button color="primary" [disabled]="form.invalid">Ingresar</button>
          <button mat-raised-button style="margin-top: 20px;" class="ancho button"
            routerLink="/login">Autenticar</button>
    </mat-card>
    </form>
    
    </div>
</div>

