<div class="user-profile">
      <div class="user-image">
        <img src="assets/images/logo.png" />
      </div>
      <div class="user-name">BitByte</div>
      <div class="user-designation">Developer</div>
    </div>
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="index.html">
          <i class="menu-icon tf-icons bx bx-home-circle"></i>
          <span class="menu-title">Dashboard</span>
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          data-toggle="collapse"
          href="#ui-basic"
          aria-expanded="false"
          aria-controls="ui-basic"
        >
          <i class="menu-icon tf-icons bx bx-user-circle"></i>
          
          <span class="menu-title">Users</span>
          <i class="menu-arrow"></i>
        </a>
        
        <div class="collapse" id="ui-basic">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item">
              <a class="nav-link" href="pages/ui-features/buttons.html"
                >Buttons</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="pages/ui-features/typography.html"
                >Typography</a
              >
            </li>
          </ul>
        </div>
      </li>
    </ul>