<mat-toolbar color="primary">
   <div fxHide.gt-xs>
     <button mat-icon-button (click)="onToggleSidenav()">
       <mat-icon>menu</mat-icon>
     </button>
   </div>
    <span>My Application</span>
    <span class="example-spacer"></span>
    <button  mat-button
      routerLink="/users">{{"Users" | translate }}</button>
       <button mat-button routerLink="/reports">{{"Reports" | translate }}</button>
    <span class="example-spacer"></span>
     <button mat-icon-button [matMenuTriggerFor]="menu2" aria-label="Example icon-button with a menu">
       <mat-icon>language</mat-icon>
     </button>
     <mat-menu #menu2="matMenu" style="width: 10px;">
       <button mat-menu-item *ngFor="let lang of langs" (click)="changeLang(lang.id)" [value]=" lang.id">
         <span>{{ lang.name }} <mat-icon *ngIf="lang.id==idioma">check</mat-icon></span>
       </button>      
     </mat-menu>
    <button *ngIf="!logged" mat-icon-button routerLink="/login">
      <mat-icon>account_circle</mat-icon>
    </button>
    <button *ngIf="logged"  mat-icon-button [matMenuTriggerFor]="menu1" aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu1="matMenu">
        <button mat-menu-item routerLink="/profile">
        <mat-icon>supervised_user_circle</mat-icon>
        <span>{{"Profile" | translate }}</span>
      </button>
        <button mat-menu-item (click)="changePassword()">
        <mat-icon>swap_horiz</mat-icon>
        <span>{{"Change Password" | translate }}</span>
      </button>
        <button mat-menu-item (click)="logout()">
        <mat-icon> logout</mat-icon>
        <span>{{"Sign Out" | translate }}</span>
      </button>
    </mat-menu>

</mat-toolbar>